[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "lib/ImageMagick"]
	path = lib/ImageMagick
	url = https://github.com/ImageMagick/ImageMagick
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib
[submodule "lib/ALUT"]
	path = lib/ALUT
	url = https://github.com/blackberry/ALUT
[submodule "lib/cpython"]
	path = lib/cpython
	url = https://github.com/python/cpython
[submodule "lib/freealut"]
	path = lib/freealut
	url = https://github.com/vancegroup/freealut
[submodule "lib/FFmpeg"]
	path = lib/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "lib/EterniaLibrary"]
	path = lib/EterniaLibrary
	url = https://github.com/EterniaLogic/EterniaLibrary
